.nav-link:link {
    font-family: 'Alice', serif;
    color: #ffffff;
    font-size: 30px;
}

.nav-link:visited {
    color: #ffffff;
}

.nav-link:hover {
    color: #0f5138;
}

.logo {
    width: 200px;
}

.bg-custom {
    background-color: #b06b34;
}

.footer {
    background-color: #7e9764;
    color: #000000;
    font-family: 'Quicksand', sans-serif;
}


.bi {
    color: #000000;
}

h4 {
    font-weight: 800;
    color: #000000;
}

h3 {
    font-family: 'Alice', serif;
    color: #508b71;
    font-size: 25px;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    font-weight:500;
    color: #7e9764;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: #000000;
}

ul {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: #000000;
}

.custom-carousel img {
    height: 700px;
    object-fit: cover;
    padding-top: 10px;
    padding-bottom: 10px;
}

.wrapper {
    margin: 150px auto;
    width: 70%;
}

img {
    max-width: 700px;
    max-height: 550px;
    float: left;
    border-radius: 5px;
    margin-right: 20px;
}


.contactinfo {
    font-family: 'Alice', serif;
    color: #000000;

}

.contactstyle {
    font-family: 'Quicksand', sans-serif;
}

.form-label {
    color: #0f5138;
    font-weight: 600;
    text-transform: uppercase;
}


.btn-primary {
    background-color: #0f5138;
}